@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #212121;
}
.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.faq-container h1 {
  color: white;
  padding: 10px;
}
.faq {
  width: 80%;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(192, 200, 206);
  box-shadow: 2px 2px 2px black;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin: 5px auto;
  transition: all 0.5s ease;
}
.faq::before,
.faq::after {
  font: var(--fa-font-regular);
  content: "\f4ad";
  font-size: 4rem;
  color: rgba(0, 128, 0, 0.466);
  position: absolute;
  left: 20px;
  top: 0px;
  z-index: 0;
}
.faq::before {
  color: rgba(255, 68, 0, 0.438);
  left: 60px;
  top: 10px;
  transform: rotate(-180deg);
}
.question {
  padding: 15px;
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.answere {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  background-color: rgb(214, 211, 211);
  display: none;
  box-shadow: inset 2px 2px 2px;
}
.faq.active .answere {
  display: block;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.faq.active {
  background-color: white;
}
.faq-icons {
  position: absolute;
  z-index: 5;
  right: 25px;
  top: 25px;
  width: 30px;
  height: 30px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid black;
}
.faq .fa-xmark {
  display: none;
}
.faq.active .fa-caret-down {
  display: none;
}
.faq.active .fa-xmark {
  display: block;
}
small {
  color: white;
}
