* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #212121;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 70vw;
  height: 40vh;
  background-color: steelblue;
  text-align: center;
  border-radius: 15px;
  box-shadow: 2px 2px 5px black;
}
