* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #212121;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  width: 500px;
  background-color: white;
  color: black;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.nav-container ul {
  width: 80%;
  list-style-type: none;
  color: blue;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.nav-container ul li a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
}

.line {
  width: 6%;
  height: 2px;
  background-color: black;
  position: absolute;
  right: 10px;
  top: 50%;
}
.line1 {
  transform: rotate(-135deg);
}
.line2 {
  transform: rotate(135deg);
}

/* css fo inaactibe condition------------------------------------- */
.nav-container.inactive {
  border-radius: 3px;
  width: 70px;
  height: 70px;
}
.nav-container.inactive ul {
  display: none;
  transition-delay: 1s;
}
.nav-container.inactive ul li {
  transform: rotate3d(0, 1, 0, 360deg);
  transition: transform 1s ease;
}
.nav-container.inactive .line {
  margin: 0px;
  top: 40%;
  left: 19px;
  height: 2px;
  width: 30px;
  transform: rotateX(0deg);
}
.nav-container.inactive .line1 {
  transform: translateY(10px);
}
